@import "~styles/_root";

.app-header{
    z-index: 1000;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: $header-size;
    background-color:rgb(91 45 142);
    box-shadow: 1px 1px 5px #eee;
    display: flex;
    justify-content: center;
    align-items: center;
     &__nav__ul__li{
         display: inline;
         padding-left: 40px;
       
     }
     a{
         text-decoration: none;
         margin-right: 15px;
         color: white
     }
    }
.selected{
    .app-header__nav__ul__li{
        color: rgba(212, 0, 11, 0.959);
    }
    border-radius: 5px;
    padding: 4px;
    justify-content: center;
    
}